<footer>
    <div style="margin: 0 200px;margin-top: 50px;">
            <div>Bạn có câu hỏi? Liên hệ với chúng tôi.</div>
    
      <div style="width: 100%;display: flex;">
        <ul id="cc">
        <li><a>Câu hỏi thường gặp</a></li><a></a>
        <li><a>Quan hệ với nhà đầu tư</a></li>

      </ul>

      <ul>
        <li><a>Trung tâm trợ giúp</a></li>
        <li><a>Việc làm</a></li>

      </ul>

      <ul>
        <li><a>Tài khoản</a></li>
        <li><a>Các cách xem</a></li>
      
      </ul>

      <ul>
        <li><a>Trung tâm đa phương tiện</a></li>

        
      </ul>
      </div>

    
    <div>
        <div class="btnlang" style="width:110px;margin-bottom: 30px;border: 1px solid gray;padding: 10px 20px;border-radius: 5px;">
      <i style="font-size: 13px" class="fa-solid fa-globe"></i> Tiếng Việt
      <i
        style="transform: rotate(90deg)"
        class="fa-solid fa-caret-right"
      ></i>
       </div>
       <div>Netflix Việt Nam</div>
    </div>
    </div>


  </footer>
  