<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix Việt Nam – Xem chương trình truyền hình trực tuyến, Xem phim trực tuyến</title>
    <link rel = "icon" href = "https://assets.nflxext.com/us/ffe/siteui/common/icons/nficon2016.png" type = "image/x-icon">
    <link rel="stylesheet" href="test.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
</head>
<body style="background-color: #1a1a1a;">
    <%- include('header') %> 
    <div style="padding-left: 60px;"><h2>Phim Hoạt Hình</h2></div>
    <div id="rendercon">
        
    </div>


    <%- include('footer') %> 
</body>
<script src="hoathinh.js"></script>
</html>