<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Netflix</title>
    <link rel = "icon" href = "https://assets.nflxext.com/us/ffe/siteui/common/icons/nficon2016.png" type = "image/x-icon">
    <link rel="stylesheet" href="dn.css" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  </head>
  <body>
    <div>
      <img
      onclick="home()"
        style="position: absolute; z-index: 1; margin: 20px 30px"
        id="logo"
        src="./img/Netflix_Logo_PMS.png"
        alt=""
        width="200px"
      />
      <img
        id="nendn"
        style="scale: 1.2"
        src="./img/VN-vi-20230103-popsignuptwoweeks-perspective_alpha_website_large.jpg"
        alt=""
      />
      <div class="blur">
        <div id="khungdn">
          <form id="khungdn-content">
            <h1 style="margin-bottom: 30px">Đăng nhập</h1>
            <div style="display: flex; flex-direction: column; width: 100%">
              <input
              name="email"
                placeholder="Địa chỉ email"
                id="email"
                type="text"
                onblur="emailp()"
              />
              <span
                class="spanerr" id="erremail"
                ></span
              >
              <input name="crpassword" onblur="passwordp()" id="crpassword" placeholder="Mật khẩu" type="password" />
              <span
              class="spanerr" id="errpassword"
                
                ></span
              >
              <button id="btndn" type="submit">Đăng nhập</button>
              <div style="display: flex; color: #b3b3b3;justify-content: space-between;">
                <span style="display: flex;"
                  ><input
                    id="checkbox"
                    style="margin-top: -13px; width: 15px"
                    type="checkbox"
                  />
                  <div>Ghi nhớ tôi</div></span
                >
                <span style="line-height: 1.2;">Bạn cần giúp đỡ?</span>
              </div>
            </div>

            <div style="color: #737373">
              Bạn mới tham gia Netflix?<a style="text-decoration: none;color: white;" href="http://localhost:3000/dangky">Đăng ký ngay</a>
            </div>
            <div style="color: #8c8c8c;font-size: smaller;margin-top: 15px;">
              Trang này được Google reCAPTCHA bảo vệ để đảm bảo bạn không phải
              là robot. <a style="text-decoration: none;color: #0071eb;" href="">Tìm hiểu thêm</a>
            </div>
          </form>
        </div>
      </div>
      
    </div>
    <footer>
      <div style="margin: 0 200px;margin-top: 50px;">
              <div>Bạn có câu hỏi? Liên hệ với chúng tôi.</div>
      
        <div style="width: 100%;display: flex;">
          <ul id="cc">
          <li><a>Câu hỏi thường gặp</a></li><a></a>
          <li><a>Quan hệ với nhà đầu tư</a></li>

        </ul>

        <ul>
          <li><a>Trung tâm trợ giúp</a></li>
          <li><a>Việc làm</a></li>

        </ul>

        <ul>
          <li><a>Tài khoản</a></li>
          <li><a>Các cách xem</a></li>
        
        </ul>

        <ul>
          <li><a>Trung tâm đa phương tiện</a></li>

          
        </ul>
        </div>

      
      <div>
          <div class="btnlang" style="width:110px;margin-bottom: 30px;border: 1px solid gray;padding: 10px 20px;border-radius: 5px;">
        <i style="font-size: 13px" class="fa-solid fa-globe"></i> Tiếng Việt
        <i
          style="transform: rotate(90deg)"
          class="fa-solid fa-caret-right"
        ></i>
         </div>
         <div>Netflix Việt Nam</div>
      </div>
      </div>


    </footer>
    <!-- <button onclick="load111()">send</button> -->
  </body>
  <script src="./dn.js"></script>
</html>
